<html >
<head>
    <title>
    </title>
</head>
<body>
    <h1>Names List</h1>
    <div>
        <form action="/create-name" method="post">
            <input type="text" name="name" id="" placeholder="Enter name" required>
            <button type="submit">Add Name</button>
        </form>
    </div>
</body>
</html>